body{
	background-color: #f0fae8;
}
.nav ul{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #b6d5af;
	height: 40px;
	text-align:center;
}
.nav ul li{
	list-style-type: none;
	color: white;
	font-size: 30px;
	margin-left: 100px;
	width:30%;
	display: inline;
	padding-top: 110px;
}
.nav ul li a{
	text-decoration:none;
	color: white;
}
.content{
	text-align: center;
	color: black;
	font-size: 18px;
}