.nav ul{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #b6d5af;
	height: 40px;
	text-align:center;
}
.nav ul li{
	list-style-type: none;
	color: white;
	font-size: 30px;
	margin-left: 100px;
	width:30%;
	display: inline;
	padding-top: 110px;
}
.nav ul li a{
	text-decoration:none;
	color: white;
}
.point{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
span{
	color: red;
}
#input{
	height: 30px;
	width: 200px;
	font-size: 28px;
	border:0 0 0 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-color: #9fca7c;
}
#button{
	height: 35px;
	width: 110px;
	background-color: #9fca7c;
	border-color: #9fca7c;
	color: white;
	font-size: 20px;
	margin: 0 0 0 0;
	border:0 0 0 0;
	padding: 0 0 0 0;
}
.next{
	display: flex;
	flex-direction: row-reverse;
}
a{
	text-decoration:none;
	color: red;
}
.center{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
button{
	background-color: #91bd6e;
	color: white;
	border-color: #9fca7c;
	margin: 10px 20px 20px 10px;
	font-size: 36px;
	border-width: 5px;
	border-radius: 2px;
}
